@model CorrWeb.Models.LoginModel

@{
    ViewBag.Title = "My Correspondence Game List";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<head>
    <meta charset="utf-8">
    <title>jQuery UI Accordion - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
        $(function () {
            $("#functionAcc").accordion({ collapsible: true, active: @ViewBag.selectedPanel });
        });
    </script>
</head>

<div id="main-content">
    @if (@User.Identity.IsAuthenticated)
    {
        CorrWeb.Models.GameList.GameListContext = new CorrWeb.Models.GameList(User.Identity.Name);
        <p class="error" data-bind="text: error"></p>
        <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
     
        if (ViewBag != null && ViewBag.listIndex != null && ViewBag.eventIndex != null && ViewBag.gameIndex != null)
        {
            ViewBag.gName = CorrWeb.Models.GameList.GameListContext.FindGameName(ViewBag.listIndex, ViewBag.eventIndex, ViewBag.gameIndex);
        }

        
        
        <div id="functionAcc">
            @if (ViewBag.gName == null)
            {
                <h3>Game Selection</h3>
            }
            @if (ViewBag.gName != null)
            {
                <h3>Game Selection: @ViewBag.gName</h3>
            }
            <div style="max-height: 700px">@Html.Partial("~/Views/Shared/Partial/GameListTree.cshtml", CorrWeb.Models.GameList.GameListContext)</div>
            <h3>Game Tags</h3>
            <div style="max-height: 700px">@Html.Partial("~/Views/Shared/Partial/GameTags.cshtml", CorrWeb.Models.GameList.GameListContext)</div>
            <h3>Board Display</h3>
            <div style="max-height: 700px">@Html.Partial("~/Views/Shared/Partial/GameBoard.cshtml", CorrWeb.Models.GameList.GameListContext)</div>
            <h3>Detailed Move List</h3>
            <div style="max-height: 700px">@Html.Partial("~/Views/Shared/Partial/MoveListGrid.cshtml", CorrWeb.Models.GameList.GameListContext)</div>
        </div>
           
        
    }
    else
    {
        <div class="todoList" id="loginPanel">
            <section id="localLoginPanel">
                <h2>Log in</h2>
                @Html.Partial("_Login")
            </section>
            <section id="socialLoginPanel">
                <h2>Log in using another service</h2>
                @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
            </section>
            <p>First time here? <a id="showRegister">Sign up</a></p>
        </div>
        <div class="todoList" id="registerPanel">
            <h2>Sign up</h2>
            @Html.Partial("_Register")
            <p>Already signed up? <a id="showLogin">Log in</a></p>
        </div>
    }
</div>

@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/todo")
    }
}