@model CorrWeb.Models.GameList

<div style="width: 100%; ">
    <p style="text-align: left; float: left">
        @Model.Count() games currently on file
    </p>
    <ul style="text-align: left; clear: left">
        <li>Games on Move</li>
        <ul>
            @foreach (string e in Model.onMoveGameList.Keys)
            {
                <li>@e</li>
                <ul>
                    @for(int i=0; i<Model.onMoveGameList[e].Count; i++)
                    {
                        ChessPosition.V2.Game g  = Model.onMoveGameList[e][i];
                        <li>
                            @Html.ActionLink(
                                g.Tags["White"] + "-" + g.Tags["Black"],
                                "GameChange", "GameList", 
                                new { listIndex=0, eventIndex=e, gameIndex=i }, null)
                        </li>
                    }
                </ul>
            }
        </ul>
        <li>Games Waiting</li>
        <ul>
            @foreach (string e in Model.waitingGameList.Keys)
            {
                <li>@e</li>
                <ul>
                    @for (int i = 0; i < Model.waitingGameList[e].Count; i++)
                    {
                        ChessPosition.V2.Game g = Model.waitingGameList[e][i];
                        <li>
                            @Html.ActionLink(
                                g.Tags["White"] + "-" + g.Tags["Black"],
                                "GameChange", "GameList", 
                                new { listIndex=1, eventIndex=e, gameIndex=i }, null)
                        </li>
                    }
                </ul>
            }
        </ul>
        <li>Games Completed</li>
        <ul>
            @foreach (string e in Model.completeGameList.Keys)
            {
                <li>@e</li>
                <ul>
                    @for (int i = 0; i < Model.completeGameList[e].Count; i++)
                    {
                        ChessPosition.V2.Game g = Model.completeGameList[e][i];
                        <li>
                            @Html.ActionLink(
                                g.Tags["White"] + "-" + g.Tags["Black"],
                                "GameChange", "Home", 
                                new { listIndex=2, eventIndex=e, gameIndex=i }, null)
                        </li>
                    }
                </ul>
            }
        </ul>
    </ul>

    @Html.ActionLink("New Game", "New", new { /* id=Model.PrimaryKey */ })
    </p>
</div>
